.remove_attach img {
    width: auto !important;
}
.ajax_images img {
    height: auto;
    padding: 6px 5px 0;
    width: 82px;
}

.attach_image_wrap {
    float: left;
	 position: relative;
}

.remove_attach {
    position: absolute;
}

.remove_attach {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    position: absolute;
}
.tabs_post .first_tab {
	font-weight: bold;
	text-align: center;
	width: 20%;
}

.tabs_post .second_tab {
	width: 80%;
}

.tabs_post {
	width: 100%;
}

.tabs_post td {
	border-bottom: 1px solid #eee;
	padding: 20px 0;
}

.tabs_post tr:last-child td {
	border: medium none;
	padding: 20px 0 0;
}
.upload_image_accordion{
	display: table;
}

#upload_image_button {
	margin-bottom: 10px;
}
.widefat {
	 
	margin-bottom: 10px;
}

textarea.widefat {
	height: 150px;
}

.more_tabs {
	text-align: right;
	width: 100%;
}